API_AUTH_REGISTER_URL=https://v2.api.noroff.dev/auth/register
API_AUTH_LOGIN_URL=https://v2.api.noroff.dev/auth/login

API_BASE_URL=https://v2.api.noroff.dev

API_HOLIDAZE_BOOKINGS_URL=https://v2.api.noroff.dev/holidaze/bookings
API_HOLIDAZE_VENUES_URL=https://v2.api.noroff.dev/holidaze/venues
API_HOLIDAZE_PROFILES_URL=https://v2.api.noroff.dev/holidaze/profiles

LOCAL_BASE_URL=http://localhost:0000

NOROFF_API_KEY=key

VERCEL_DEPLOYMENT_URL=holidaze-exam-2-santorg-j616b6jci-sandertorgs-projects.vercel.app

NAME_NORMAL_USER=customer
EMAIL_NORMAL_USER=customer@stud.noroff.no
PASSWORD_NORMAL_USER=Customer12345

NAME_VENUE_MANAGER=manager
EMAIL_VENUE_MANAGER=manager@stud.noroff.no
PASSWORD_VENUE_MANAGER=Manager12345

TEST_CUSTOMER_EMAIL=customer@stud.noroff.no
TEST_CUSTOMER_PASSWORD=Customer12345

TEST_MANAGER_EMAIL=manager@stud.noroff.no
TEST_MANAGER_PASSWORD=Manager12345